# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\beestyle-next-js\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
