.custom-tag-select {
    line-height: 30px;
    font-size: 14px;
    color: #000000 !important;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-inline-end: 4px;
    white-space: nowrap;
}

.custom-tag {
    line-height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000000 !important;
}